<div class="jumbotron">
    <h3 data-aos="fade-up" data-aos-offset="200" data-aos-duration="1000" class="text-light welcome">Welcome</h3>
</div>
<div class="about">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12 col-md-6">
                <h1 data-aos-offset="200" data-aos-duration="1000" data-aos="fade-down-right" class="about-text">
                    About
                </h1>
                <h1 data-aos-offset="200" data-aos-duration="1000" data-aos="fade-up-left" class="offset-6 me-text">
                    Me
                </h1>
            </div>
            <div data-aos-offset="200" data-aos-duration="1000" data-aos="fade-left" class="p-text col-sm-12 col-md-6">
                <p class=" p-3">
                    I am a Fullstack Java Engineer. Experienced in building applications that utilize the full range of
                    the MVC design
                    pattern. Created dynamic front-end applications using JavaScript, Typescript, Angular, and
                    Bootstrap. Merged server-side
                    technologies, such as Amazon AWS web services, RDS, and connections using JDBC, while running on
                    Apache's Tomcat
                    servers.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="tech-block">
    <div class="container">
        <div class="row skills">
            <div class="col-md-6 col-sm-12">
                <h1 data-aos="zoom-in" data-aos-offset="200" data-aos-duration="1000"
                    class="tech-text text-light text-center">Technologies</h1>
            </div>
            <div class="col-md-6 col-sm-12">
                <ul class="text-muted">
                    <li>
                        Java
                        <p>
                            <ngb-progressbar type="info" [value]="65">65%</ngb-progressbar>
                        </p>
                    </li>
                    <li>
                        Spring
                        <p>
                            <ngb-progressbar type="info" [value]="50">50%</ngb-progressbar>
                        </p>
                    </li>
                    <li>
                        Hibernate ORM
                        <p>
                            <ngb-progressbar type="info" [value]="35">35%</ngb-progressbar>
                        </p>
                    </li>
                    <li>
                        SQL
                        <p>
                            <ngb-progressbar type="info" [value]="55">55%</ngb-progressbar>
                        </p>
                    </li>
                    <li>
                        Angular
                        <p>
                            <ngb-progressbar type="info" [value]="60">60%</ngb-progressbar>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="projects">
    <div class="container text-center">
        <h1 class="">Projects</h1>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 project-image">
                <a href="https://compostfairy.com/">
                    <img src="../../../assets/images/compostfairy.png" alt="">
                    <p>Compost Fairy</p>
                </a>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 project-image">
                <a href="https://www.knowledgequest.org/">
                    <img src="../../../assets/images/knowledgequest.png" alt="">
                    <p>Knowledge Quest</p>
                </a>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 project-image">
                <a href="https://memphistransformed.com/">
                    <img src="../../../assets/images/memphisTransformed.png" alt="">
                    <p>Memphis Transformed</p>
                </a>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 project-image">
                <a href="http://www.cleanmemphis.org/">
                    <img src="../../../assets/images/cleanMemphis.png" alt="">
                    <p>Clean Memphis</p>
                </a>
            </div>
        </div>
    </div>
</div>