.jumbotron{
    background: #000;
    border-radius: 0%;
    height: 700px;
    padding: 260px 0;
    margin-bottom: -1em;
    text-align: center;
}
h3.welcome{
    font-size: 86px;
}
h1.about-text{
    font-size: 70px;
    margin-bottom: 1em;
    margin-top: 0.5em;
}
h1.me-text{
    font-size: 70px;
    margin-left: 3em;
}
.p-text{
    margin: auto 0rem;
}
.p-text>p{
    font-size: 16px;
}
.about{
    background-color: rgba(241,243,244,1);
}
.tech-block{
    background: rgba(0, 0, 0, 1);
}

ul li{
    list-style-type: none;
    font-size: 20px;
}
 h1.tech-text{
     font-size: 56px;
     padding: 1em 0em;
     margin-top: 1em;
 }
.projects{
    background-color: rgba(241,243,244,1);
    padding: 4rem 0rem;
}

.project-image img{
    width: 480px;
    height: 380px;
    border-radius: 10%;
    margin: 1rem 0rem;
    transition: width 400ms, height 400ms, box-shadow 400ms;
}
.project-image p{
    margin: 0 auto;
    margin-top: -1rem;
    padding-top: 1rem;
    width: 400px;
    height: 50px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: box-shadow 400ms, font-size 500ms, width 400ms, height 400ms;
}
.project-image img:hover{
    box-shadow: -5px -2px 5px rgba(255, 255, 255, 1);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 400px;
}
.project-image p:hover{
    width: 400px;
    height: 75px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 26px;
}

@media screen and (min-width: 374px) and (max-width: 500px){
    .project-image img{
        width: 345px;
        height: 245px;
        border-radius: 10%;
        margin: 1rem 0rem;
        transition: width 400ms, height 400ms, box-shadow 400ms;
    }
    .project-image p{
        width: 200px;
        height: 50px;
    }

    .project-image img:hover{
        box-shadow: -5px -2px 5px rgba(255, 255, 255, 1);
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
        width: 360px;
        height: 280px;
    }
    .project-image p:hover{
        width: 250px;
        height: 55px;
        box-shadow: -2px -2px 5px rgba(255, 255, 255, 1);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        font-size: 20px;
    }
}