<div class="jumbotron">
    <h3 class="text-light welcome">Welcome</h3>
</div>
<div class="container about">
    <div class="row ">
        <div class="col-sm-12 col-md-6">
            <h1 class="about-text">
                About
            </h1>
            <h1 class="offset-6 me-text">
                Me
            </h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p class="p-text p-3 text-right">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, vitae ducimus laboriosam ipsa fugiat
                corporis numquam perferendis repudiandae non tempore laborum excepturi incidunt dolor maxime aut.
                Necessitatibus delectus eos ullam!
            </p>
        </div>
    </div>
</div>
<div class="tech-block">
    <div class="container">
        <div class="row skills">
            <div class="col-md-6 col-sm-12">
                <h1 class="tech-text text-light">Technologies</h1>
            </div>
            <div class="col-md-6 col-sm-12">
                <ul class="text-muted">
                    <li>
                        Java
                        <p>
                            <ngb-progressbar type="info" [value]="65">65%</ngb-progressbar>
                        </p>
                    </li>
                    <li>
                        Spring
                        <p>
                            <ngb-progressbar type="info" [value]="50">50%</ngb-progressbar>
                        </p>
                    </li>
                    <li>
                        Hibernate ORM
                        <p>
                            <ngb-progressbar type="info" [value]="35">35%</ngb-progressbar>
                        </p>
                    </li>
                    <li>
                        SQL
                        <p>
                            <ngb-progressbar type="info" [value]="55">55%</ngb-progressbar>
                        </p>
                    </li>
                    <li>
                        Angular
                        <p>
                            <ngb-progressbar type="info" [value]="60">60%</ngb-progressbar>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>